<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270946587919-83p6edt0p04qsbembmdq8bkvlqk47d0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270946587919-83p6edt0p04qsbembmdq8bkvlqk47d0v</string>
	<key>API_KEY</key>
	<string>AIzaSyAho7VgQGLHRUCI3T1RKZMOjzK6PN2v6Q0</string>
	<key>GCM_SENDER_ID</key>
	<string>270946587919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pursuit.lightsoff</string>
	<key>PROJECT_ID</key>
	<string>lightprj</string>
	<key>STORAGE_BUCKET</key>
	<string>lightprj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270946587919:ios:4d5caaf402434cdcbe9a7a</string>
	<key>DATABASE_URL</key>
	<string>https://lightprj.firebaseio.com</string>
</dict>
</plist>